.country {
  border: 3px solid blueviolet;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}
.country img {
  border-radius: 5px;
}
.title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.country-visited{
  background-color: bisque;
  color: black;
  border: none;
}
